@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");
body{
   background: linear-gradient(to right top, #000000, #1b0e16, #27192b, #282546, #0d3662);
}


:root {
   --secondary: lightblue;
   --dark: #607d8b;
   --light: #f7f7f7;
   --shadow: 1px 0px 5px darkgray;
 }
 html {
   scroll-behavior: smooth;
 }
 body {
   font-family: "Poppins", sans-serif;
   margin: 0;
   padding: 0;
 }



 .main {
   max-width: 1350px;
   margin: 0 auto;
   height: 100vh;
 }
.main-title {
   display: flex;
   justify-content: center;
   font-size: 60px;
   color: white;
   padding: 50px;
}
.main-grids {
      max-width: 1200px;
      margin: 0 auto;
      display: grid;
      justify-content: space-between;
      align-items: center;
      grid-gap: 1rem;

}

@media (min-width: 600px) {
   .main-grids {grid-template-columns: repeat(2, 1fr); }
 }
 
 /* Screen larger than 900px? 3 columns */
 @media (min-width: 900px) {
   .main-grids {grid-template-columns: repeat(2, 1fr); }
 }



.main_image {
   border-radius: 10px;
}
.main_text {
   max-width: 300px;
   background: rgba(255, 255, 255, 0.1);
   backdrop-filter: blur(20px);
   padding: 40px;
   max-width: 400px;
   border: 1px solid rgba(255, 255, 255, 0.1);
   border-radius: 10px;
   color: white;
   transform: translate(-80px, 50px);
}


















 .section {
   padding: 70px 30px;
 }


.title {
   display: flex;
   justify-content: center;
   padding: 50px;
   h1{
      font-size: 50px;
      font-weight: bold;
      color: white;
   }
}

 
 .container {
   max-width: 1200px;
   margin: auto;
 }
 .grid-row {
   display: grid;
   grid-template-columns: repeat(auto-fill, minmax(250px, 350px));
   grid-gap: 15px 15px;
   justify-content: center;
   align-items: baseline;
 }
 
 .grid-row .grid-item span {
   padding: 10px;
   line-height: 1;
 }
 .grid-row .grid-item h3 {
   font-size: 20px;
   margin-bottom: 0;
 }
 .grid-row .grid-item:hover {
   filter: contrast(0.7);
 }
 .grid-row .grid-item {
   transition: filter 0.5s ease;
   display: flex;
   cursor: pointer;
   background: var(--light);
   box-shadow: var(--shadow);
   color: var(--dark);
   text-align: center;
   font-family: sans-serif;
   flex-direction: column-reverse;
   align-items: stretch;
 }
 
.icons {
  display: flex;
  justify-content: center;
  justify-content: space-around;
  padding: 50px;
  a{margin: 15px;}
}

@media screen and (max-width: 599px) {
.maintxt {
margin-left: 200px;
}

.icons {
  margin-top: 50px;
}
.main-title {
  h2{
    font-size: 40px;
  }
  span{
    font-size: 40px;
  }
}
.title {
  margin-top: 150px;
}

}

